$images-base-path:'../images/';

$color-dark:	#2a2a2f;
$color-light:	#babdc4;
$color-extra-light:	#e5e8ed;

$color-active: 	#DD4646;
$color-white: #ffffff;
$color-red: red;
$overview-title: #c0c0c0;
$color-country-picker-bgrnd: 	#BCBDC2;
$color-selected-button:	#5B595E;
$color-aside-b-title: $color-dark;
$color-editorial-bgrnd:#E8E9EE;
$color-aside-a-title: $color-dark;
$color-main-area-title: $color-dark;
$color-comments-title: $color-dark;
$color-comments-bgrnd:#E8ECEF;
$color-navi-link:#3E3F44;
