# dependencies
NuxtWebUI/node_modules

NuxtWebUI/npm-debug.log
NuxtWebUI/yarn-error.log


NuxtWebUI/.nuxt
NuxtWebUI/dist

# .env file
NuxtWebUI/.env*

.vs/
NetCoreRestapi/*bin/
NetCoreRestapi/**/bin
NetCoreRestapi/**/obj
NetCoreRestapi/Published/
NetCoreRestapi/8anu.Api/Seed/input/extracted-files/
NuxtWebUI/assets/fonts/FontAlbert/
NuxtWebUI/assets/fonts/MonoSocialIconsFont/
